# Veyra
.veyra/

# VS Code
# Keep .vscode/c_cpp_properties.json tracked
# .vscode/

# C / C++ build artifacts
[Bb]in/
[Oo]bj/
*.o
*.obj
*.exe
*.pdb
*.out

# Rust build artifacts
target/

# Test outputs
Test/**/out/

# Temporary files
*.tmp
*.temp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Nested Git repositories
**/.git/